* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #1f1f1f;
}
.content {
  height: 100vh;
  position: relative;
  left: 0;
  z-index: -1;
  top: 0;
}
.detail {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 8%;
  color: white;
  font-family: sans-serif;
}
.detail .hello {
  font-weight: bold;
  font-size: 4vh;
  margin-bottom: 0.5rem;
}
.d1 {
  font-size: 4vh;
}
.d2 {
  font-weight: bold;
  font-size: 10vh;
}
.d3 {
  font-size: .8rem;
  line-height: 1rem;
  width: 20rem;
  margin-top: 1rem;
  margin: 1rem 0;
}
.detail button{
  border: none;
  background-color: transparent;
  color: #0b96e691;
  font-size: 1rem;
}
.detail button:hover{
  color: #0b96e6;
}
/* .name {
  font-size: 2rem;
  color: rgb(248, 120, 15);
  font-weight: bold;
} */

/* @media(max-width:500px){
  .leftimg img{
    display: none;
  }
} */
