* {
  margin: 0px;
  padding: 0px;
}
.content {
  height: 100vh;
  position: relative;
  left: 0;
  z-index: -1;
  top: 0;
}
.detail {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 8%;
  color: white;
  font-family: sans-serif;
}
.d1 {
  font-size: 4vh;
}
.d2 {
  font-weight: bold;
  font-size: 10vh;
}
.d3 {
  font-size: 0.8rem;
  line-height: 1rem;
  width: 20rem;
  margin-top: 1rem;
  margin: 1rem 0;
}
.detail button {
  border: none;
  background-color: transparent;
  color: #0b96e691;
  font-size: 1rem;
  cursor: pointer;
}
.detail button:hover {
  color: #0b96e6;
}

/* @media(max-width:500px){
  .leftimg img{
    display: none;
  }
} */
.top-nav {
  color: #fff;
  /* -webkit-font-smoothing: antialiased; */
  position: absolute;
  font-weight: bold;
  z-index: 1;
  top: 5vh;
  transform: translateX(2px);
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}
.top-nav span {
  display: flex;
  justify-content: center;
}
.top-nav span div{
  margin: 0 3px;
}
.hl-blue {
  color: #0b96e691;
}
.about{
  display: flex;
  color: white;
  font-family: sans-serif;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* padding: 130px 0; */
}
.name{
  width: 50vw;
  background-color: rgb(93, 29, 29);
  font-weight: bold;
  font-size: 2rem;
  /* padding: 1rem 1rem; */
  top:auto
}

.d4{
  width: 50vw;
  background-color: rgb(117, 9, 9);

}
.d4 div{
  padding: 8px 10px;
}